<ion-header>
  <ion-toolbar>
    <ion-title>MindTest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="danger" size="large">Registrarse</ion-button>
        <span class="divider line one-line">o</span>
        <span class="already">¿Nos Conocemos?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="tertiary" size="large">Iniciar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
