<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="dbody">
    <img src="assets/img/favicon.png" id="image">
        
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
          <ion-input inputmode="numeric" maxlength="2" required>  </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input inputmode="numeric" maxlength="13" value="+51 "></ion-input>
    </ion-item>
  </div>
    <ion-list>
      <ion-radio-group value="man">
        <ion-list-header>
          <ion-label>Soy</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Hombre</ion-label>
          <ion-radio slot="start" value="man"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Mujer</ion-label>
          <ion-radio slot="start" value="woman"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Otro</ion-label>
          <ion-radio slot="start" value="other"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Prefiero no decirlo</ion-label>
          <ion-radio slot="start" value="null"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<ion-button expand="block">Registrar</ion-button>
	</ion-toolbar>
</ion-footer>
